{% extends 'base.html' %}
{% block title %}다문화 일자리 정보 페이지{% endblock %}
{% load static %}
{% block content %}

<!-- 최신순/스크랩순 정렬 jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("select[name=align_mode]").change(function () {
            $("#align_mode_form").submit();
        });
        var align_mode = "{{ request.GET.align_mode }}";  // Django 템플릿 태그로 파라미터 값 가져오기
        if(align_mode === 'recently') { $("#align_mode option[value='recently']").prop("selected", true); }
        else if (align_mode === 'scrap') { $("#align_mode option[value='scrap']").prop("selected", true); } 
        else { $("#align_mode option[value='recently']").prop("selected", true); }
    });
</script>

<br>
<hr>
<li><a href = "{% url 'informations:region' %}">지역 복지</a></li>
<li><a href = "{% url 'informations:multicultural' %}">다문화 일자리</a></li>
<li><a href = "{% url 'informations:afterschool' %}">방과후 수업</a></li>
<br>

<h3>다문화</h3>

<form action="{% url 'informations:multicultural' %}" method="GET" id="align_mode_form">
    <select name="align_mode" id="align_mode">
        <option value="recently">recently</option>
        <option value="scrap">scrap</option>
    </select>
</form>

{% for multicultural in multicultural_list %}
    제목 : {{ multicultural.title }}<br>
    내용 : {{ multicultural.content }}<br>
    문의처 : {{ multicultural.phone }}<br>
    지원 주기 : {{ multicultural.support_cycle }}<br>
    제공 유형 : {{ multicultural.type }}<br>
    담당 부서 : {{ multicultural.department }}<br>
    태그 : {{ multicultural.tag }}<br>
    <br>
    <br>
{% endfor %}

{% endblock %}