{% extends 'base.html' %}
{% block title %}정보 페이지{% endblock %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- 최신순/스크랩순 정렬 jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#align_mode").change(function () {
                var selectedMode = $(this).val(); // 선택된 모드 값 가져오기
                var currentTab = "{{ request.GET.tab }}"; // 현재 선택된 탭
                var url = "{% url 'informations:information' %}?tab=" + currentTab + "&align_mode=" + selectedMode;
                window.location.href = url; // 페이지 이동
            });
            var tab = "{{ request.GET.tab }}";  // Django 템플릿 태그로 파라미터 값 가져오기
            var align_mode = "{{ request.GET.align_mode }}";  // Django 템플릿 태그로 파라미터 값 가져오기
            if(align_mode === 'recently') { $("#align_mode option[value='recently']").prop("selected", true); }
            else if (align_mode === 'scrap') { $("#align_mode option[value='scrap']").prop("selected", true); } 
            else { $("#align_mode option[value='recently']").prop("selected", true); }
        });
    </script>
</head>

<br>
<hr>
<li><a href="{% url 'informations:information' %}?tab=region&align_mode=recently&page=1">지역</a></li>
<li><a href="{% url 'informations:information' %}?tab=multicultural&align_mode=recently&page=1">다문화</a></li>
<li><a href="{% url 'informations:information' %}?tab=afterschool&align_mode=recently&page=1">방과후</a></li>
<br>

<h3>정보</h3>
<form action="{% url 'informations:information' %}" method="GET" id="align_mode_form">
        <select name="align_mode" id="align_mode">
            <option value="recently">최신순</option>
            <option value="scrap">스크랩순</option>
        </select>
</form>

{% comment %} 지역 탭 {% endcomment %}
{% if tab == 'region' %}
{% if page_obj %}
<hr>지역<hr>
<div id="item-container">
    {% comment %} {% for item in item_list %} {% endcomment %}
    {% for item in page_obj %}
        <div class="item">
            제목 : {{ item.title }}<br>
            내용 : {{ item.content }}<br>
            문의처 : {{ item.phone }}<br>
            지원 주기 : {{ item.support_cycle }}<br>
            제공 유형 :{{ item.type }}<br>
            담당 부서 : {{ item.department }}<br>
            태그 : {{ item.tag }}<br>
            <button id="scrap-btn-{{ item.id }}" onclick="item_scrap({{ item.id }})">
                {% if request.user in item.scrap.all %}
                <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                <i id="heart-{{ item.id }}" class="fas fa-heart"></i>
                {%else%}
                <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                <i id="heart-{{ item.id }}" class="far fa-heart"></i>
                {%endif%}
                <span class="scrap-count" id="scrap_count-{{ item.id }}">{{ item.scrap.count }}</span>
            </button>

            <br>
            <br>
        </div>
    {% endfor %}
    {%endif%}
</div>

{% comment %} 다문화 탭 {% endcomment %}
{% elif tab == 'multicultural' %}
<hr>다문화<hr>
<div id="item-container">
    {% for item in item_list %}
        <div class="item">
            제목 : {{ item.title }}<br>
            내용 : {{ item.content }}<br>
            문의처 : {{ item.phone }}<br>
            지원 주기 : {{ item.support_cycle }}<br>
            제공 유형 :{{ item.type }}<br>
            담당 부서 : {{ item.department }}<br>
            태그 : {{ item.tag }}<br>
            <button id="scrap-btn-{{ item.id }}" onclick="item_scrap({{ item.id }})">
                {% if request.user in item.scrap.all %}
                <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                <i id="heart-{{ item.id }}" class="fas fa-heart"></i>
                {%else%}
                <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                <i id="heart-{{ item.id }}" class="far fa-heart"></i>
                {%endif%}
                <span class="scrap-count" id="scrap_count-{{ item.id }}">{{ item.scrap.count }}</span>
            </button>

            <br>
            <br>
        </div>
    {% endfor %}
</div>

{% elif tab == 'afterschool' %}
<hr>방과후<hr>
<div id="item-container">
    {% for item in item_list %}
        <div class="item">
            동명 : {{ item.region }}<br>
            프로그램명 : {{ item.title }}<br>
            접수일시 : {{ item.receipt_start }} ~ {{ item.receipt_end }}<br>
            교육일시 : {{ item.training_start }} ~ {{ item.training_end }}<br>
            요일 : {{ item.day }}<br>
            수강료 : {{ item.tuition }}(원)<br>
            정원 : {{ item.number_of_member }}명<br>
            상태 : {{ item.status }}<br>
            <button id="scrap-btn-{{ item.id }}" onclick="item_scrap({{ item.id }})">
                {% if request.user in item.scrap.all %}
                <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                <i id="heart-{{ item.id }}" class="fas fa-heart"></i>
                {%else%}
                <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                <i id="heart-{{ item.id }}" class="far fa-heart"></i>
                {%endif%}
                <span class="scrap-count" id="scrap_count-{{ item.id }}">{{ item.scrap.count }}</span>
            </button>

            <br>
            <br>
        </div>
    {% endfor %}
</div>

{% endif %}


{% comment %} pagination 관련 코드 {% endcomment %}
<div>
    {% comment %} 1 페이지만 있을 때 pagination 기능 없애기 {% endcomment %}
    {% if page_obj.has_other_pages %}
        <ul style="display:flex;list-style:none;">

            {% comment %} 이전 페이지가 있다면 {% endcomment %}
            {% if page_obj.has_previous %}
                <li style="margin:3px;">
                    <a style="text-decoration:none; color:red;" href="?tab={{tab}}&align_mode={{align_mode}}&page={{page_obj.previous_page_number}}">
                        <img src="{% static 'image/previous.png' %}" alt="이전 페이지로">
                    </a>
                </li>
            {% endif %}

            {% for page in paginator.page_range %}
                {% if page == page_obj.number %} {% comment %} 현재 페이지와 동일하다면 {% endcomment %}
                    <li style="margin:3px;"><a style="text-decoration:none; color:red;" href="?tab={{tab}}&align_mode={{align_mode}}&page={{page}}">{{page}}</a></li>
                {% else %} {% comment %} 현재 페이지와 동일하지 않다면 {% endcomment %}
                    <li style="margin:3px;"><a style="text-decoration:none; color:blue;" href="?tab={{tab}}&align_mode={{align_mode}}&page={{page}}">{{page}}</a></li>
                {% endif %}
            {% endfor %}

            {% comment %} 다음 페이지가 있다면 {% endcomment %}
            {% if page_obj.has_next %}
                <li style="margin:3px;">
                    <a style="text-decoration:none; color:red;" href="?tab={{tab}}&align_mode={{align_mode}}&page={{page_obj.next_page_number}}">
                        <img src="{% static 'image/next.png' %}" alt="다음 페이지로">
                    </a>
                </li>
            {% endif %}

        </ul>
    {% endif %}
</div>

{% comment %} 스크랩 기능 {% endcomment %}
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function item_scrap(id) {
        var currentTab = "{{ request.GET.tab }}"; // 현재 선택된 탭
        console.log(currentTab)
        $.ajax({
            url: "{%url 'informations:scrap'%}",
            type: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
            data: {
                'item_id': id,
                'item_name': currentTab,
            },
            dataType: "json",
            success: function (response) { 
                
                // 해당 항목의 좋아요 수만 업데이트
                $('#scrap_count-' + id).html(response.scrap_count);
                
                // 좋아요 버튼 아이콘 변경
                var heartIcon = $('#heart-' + id);
                if (response.message === "좋아요") {
                    heartIcon.removeClass("far fa-heart").addClass("fas fa-heart");
                } else if (response.message === "좋아요 취소") {
                    heartIcon.removeClass("fas fa-heart").addClass("far fa-heart");
                }
                
                // 좋아요 수에 따라 항목을 정렬 (jQuery 이용)
                var itemContainer = $('#item-container');  // 항목을 감싸는 컨테이너의 ID
                var alignMode = $('#align_mode').val(); // 선택된 정렬 모드 가져오기
    
                if (alignMode === 'scrap') {
                    var items = itemContainer.children('.item');  // 항목들을 선택
        
                    items.sort(function(a, b) {
                        var aScrapCount = parseInt($(a).find('.scrap-count').text());
                        var bScrapCount = parseInt($(b).find('.scrap-count').text());
                        return bScrapCount - aScrapCount;  // 스크랩 수에 따라 내림차순 정렬
                    });
                    
                    itemContainer.html(items);  // 정렬된 항목을 컨테이너에 적용
                }
            }
        });
    }
</script>

{% endblock %}