{% extends 'base.html' %}
{% block title %}방과후 수업 정보 페이지{% endblock %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<!-- 최신순/스크랩순 정렬 jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("select[name=align_mode]").change(function () {
            $("#align_mode_form").submit();
        });
        var align_mode = "{{ request.GET.align_mode }}";  // Django 템플릿 태그로 파라미터 값 가져오기
        if(align_mode === 'recently') { $("#align_mode option[value='recently']").prop("selected", true); }
        else if (align_mode === 'scrap') { $("#align_mode option[value='scrap']").prop("selected", true); } 
        else { $("#align_mode option[value='recently']").prop("selected", true); }
    });
</script>

<br>
<hr>
<li><a href = "{% url 'informations:region' %}">지역 복지</a></li>
<li><a href = "{% url 'informations:multicultural' %}">다문화 일자리</a></li>
<li><a href = "{% url 'informations:afterschool' %}">방과후 수업</a></li>
<br>

<h3>방과후</h3>

<form action="{% url 'informations:afterschool' %}" method="GET" id="align_mode_form">
    <select name="align_mode" id="align_mode">
        <option value="recently">recently</option>
        <option value="scrap">scrap</option>
    </select>
</form>

{% for item in item_list %}
    동명 : {{ item.region }}<br>
    프로그램명 : {{ item.title }}<br>
    접수일시 : {{ item.receipt_start }} ~ {{ item.receipt_end }}<br>
    교육일시 : {{ item.training_start }} ~ {{ item.training_end }}<br>
    요일 : {{ item.day }}<br>
    수강료 : {{ item.tuition }}(원)<br>
    정원 : {{ item.number_of_member }}명<br>
    상태 : {{ item.status }}<br>
    <button id="scrap-btn-{{ item.id }}" onclick="item_scrap({{ item.id }})">
        {% if request.user in item.scrap.all %}
        <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
        <i id="heart-{{ item.id }}" class="fas fa-heart"></i>
        {%else%}
        <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
        <i id="heart-{{ item.id }}" class="far fa-heart"></i>
        {%endif%}
        <span id="scrap_count-{{ item.id }}">{{ item.scrap.count }}</span>
    </button>

    <br>
    <br>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function item_scrap(id) {
        console.log("hi")
        $.ajax({
            url: "{%url 'informations:scrap'%}", // data를 전송할 url 입니다.
            type: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
            data: {
                'item_id': id,
                'item_name': '방과후',
            }, // post_id 라는 name으로 id 값 전송
            dataType: "json",
            success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                $('#scrap_count-' + id).html(response.scrap_count);
                $('#message').html(response.message);
                $('.toast').fadeIn(400).delay(100).fadeOut(400);
                if (response.message === "좋아요") {
                    $('#heart-' + id).attr("class", "fas fa-heart");
                } else if (response.message === "좋아요 취소") {
                    $('#heart-' + id).attr("class", "far fa-heart");
                }
            }
        });
    }
</script>

{% endblock %}