
{% extends 'base.html' %}
{% block title %}게시판 상세보기 페이지{% endblock %}
{% load static%}
{% block content %}

<h1>상세보기 페이지</h1>
<hr>
<div> 
    <h3>{{ post.title }}</h3>
    {% if post.category == '공지' %}
    <h4>공지사항 게시판</h4>
    {% elif post.category == '이벤트' %}
    <h4>이벤트 게시판</h4>
    {% else %}
    <h4>고민상담 > {{post.category}} 게시판 </h4>
    {% endif %}
    <hr>
    {% if post.writer.image %}
    <img src="{{ post.writer.image.url }}" alt="프로필 이미지">
    작성자 : {{post.writer}}
    {% else %}
    작성자 : {{post.writer}}
    {% endif %}
    
    <br>
    {{post.content}}
    <hr>
    
    {% comment %} 좋아요 비동기 {% endcomment %}
    좋아요
    {% if request.user in post.like.all %}
    <div onclick="sendRequest({{post.id}}, this)">♥{{ post.like.all.count }}</div>
    {% else %}
    <div onclick="sendRequest({{post.id}}, this)">♡{{ post.like.all.count }}</div>
    {% endif %}

    <script>
        function sendRequest(bid, event) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                    console.log(httpRequest.responseText);
    
                    var json_data = JSON.parse(httpRequest.responseText);
                    if (json_data['message'] === 'ok') {
                        event.innerText = "♥" + json_data['like_count'];
                    }else{
                        event.innerText = "♡" + json_data['like_count'];
                    }
                }
            };
            httpRequest.open("GET", "/posts/like/" + bid, true);
            httpRequest.send();
        }
    </script>



    {%comment%} 댓글 목록 {%endcomment%}
    {% for comment in post.comment_set.all %}
        <div>
            {% if comment.writer.image %}
                <img src="{{comment.writer.image.url}}"  height="40" width="40"> {{comment.writer}} 
            {% else %} 
                {{comment.writer}}
            {% endif %}
            {{ comment.content|linebreaksbr}}
        </div>
    {% endfor %}
    
    
    <hr>
    {% comment %} 댓글 달기 {% endcomment %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="comment_content" placeholder="댓글을 작성해주세요.">
        <button type="submit" onclick="location.href="{% url 'posts:post-detail' post.id %}"">완료</button>
    </form>

</div>
{% endblock %}


