{% extends 'base.html' %}
{% block title %}게시판 {% endblock %}
{% load static %}
{% block content %}

<h1>게시판 페이지</h1>
<form action = "" method = "GET" enctype = "multipart/form-data">
    {% csrf_token %}
    <a href = "{% url 'posts:post-create'%}"> 고민 등록하기 </a>
    <div>
        <input type="submit" name="category" value="전체">
        <input type="submit" name="category" value="알바">
        <input type="submit" name="category" value="과외">
        <input type="submit" name="category" value="취준">
        <input type="submit" name="category" value="경력단절">
        
    </div>
    {% for post in notice_list %}
    <div>
        <a href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a>
    </div>
    {% endfor %}
    {% for post in post_list %}
    <div>
        <a href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a>
    </div>
    {% endfor %}

</form>
{% endblock %}