{% extends 'base.html' %}
{% block title %}마이페이지{% endblock %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/screens/mypage.css' %}">
    <script>
        var popup;

        function openPopup(argument) {
            // 팝업 창의 크기와 위치 설정
            var width = 1000;
            var height = 650;
            var left = (window.innerWidth - width) / 2;
            var top = (window.innerHeight - height) / 2;
        
            var url = "";

            if (argument === 'posts') {
                url = "{% url 'accounts:activities' %}?category=posts";
            } else if (argument === 'comments') {
                url = "{% url 'accounts:activities' %}?category=comments";
            } else if (argument === 'likes') {
                url = "{% url 'accounts:activities' %}?category=likes";
            } else if (argument === 'scraps') {
                url = "{% url 'accounts:activities' %}?category=scraps";
            }

             // Django 템플릿 태그를 이용하여 URL 생성

            popup = window.open(url, '새로운 팝업', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);

        }
        </script>
        <style>
            .icon-container {
                display: flex;
            }
            
            .icon {
                text-align: center; /* 내부 요소들 가운데 정렬 */
                display: inline-block;
            }
        </style>
</head>

<body> 
    
    <div id="header"></div>
    <script src="/static/js/header.js"></script>


    <div class="mypage-main">
    <h1>마이페이지</h1>
    <div class="total-section">
        <section id="sec1">
            
                <div id="title1">Profile</div>
                <div id="title2">내 프로필</div>
        <div class="bigbox">
            <div class="Profile-box">
                <div id="Profile-img">
                    <img src="{% static 'image/profile.png' %}"> 
                    
                    <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);"/>
                    <div id="image_container"></div>
                    <button id="change">프로필 변경</button>
                </div>

                <div class="profile-explain">
                    <div id="assada">{{ request.user.username }} </div>
                    <div id="korea">대한민국 & 다른 국가</div>
                    
                <div class="An">
                <div id="Age">

                    <div>자기소개</div>
                </div>

                <div id="number">
                    {% if request.user.introduction %}
                        <div >{{ request.user.introduction }} </div>
                    {% else %}
                    <div >소개글이 아직 없습니다.</div>
                    {% endif %}
                </div>
                </div>
                <hr style="border: solid 0.1px #000; width: 60%; margin-top: 30px; margin-left: 350px;">
                    <div id="imo">
                        <table class="activity-table" border="0">
                            <tr>
                                <td onclick="openPopup('posts')" class="activity-td"><img class="note_img" src="{% static 'image/post.png' %}"></td>
                                <td onclick="openPopup('comments')" class="activity-td"><img class="chat_img"src="{% static 'image/chat.png' %}"></td>
                                <td onclick="openPopup('likes')" class="activity-td"><img class="like_img" src="{% static 'image/like.png' %}"></td>
                                <td onclick="openPopup('scraps')" class="activity-td"><img class="scrap_img"src="{% static 'image/scrap.png' %}"></td>
                            </tr>
                            <tr>
                                <td onclick="openPopup('posts')" class="activity-td">작성글</td>
                                <td onclick="openPopup('comments')" class="activity-td">댓글</td>
                                <td onclick="openPopup('likes')" class="activity-td">좋아요</td>
                                <td onclick="openPopup('scraps')" class="activity-td">스크랩</td>
                            </tr>
                        </table>


                    {% comment %} <div>
                        <div id="item-imo1"  onClick="openPopup('posts')" style="cursor: pointer;"><img src="{% static 'image/post.png' %}" ><p>작성글</p></div>
                        <div id="item-imo2"  onClick="openPopup('comments')" style="cursor: pointer;"><img src="{% static 'image/chat.png' %}"><p>댓글</p></div>
                        <div id="item-imo3"  onClick="openPopup('likes')" style="cursor: pointer;"><img src="{% static 'image/like.png' %}"><p>좋아요</p></div>
                        <div id="item-imo4"  onClick="openPopup('scrap')" style="cursor: pointer;"><img src="{% static 'image/scrap.png' %}"><p>스크랩</p></div>
                    </div> {% endcomment %}
                    </div>
            </div>
        </div>
    </div>
    </section>
    <hr style="border: solid 0.2px #000; width: 90%; margin-left: 40px;">
    <section id="sec2">
        
            <div id="work">work</div>
            <div id ="ing">진행중인 수업</div>
    
        <div class="container">
        <div class ="imgBox"></div>
            <div class="pictureBox">
                <h2>SADSDA</h2>
                <h3>aaaaaaaaaaaaaaaaaaaaaaaa</h3>
                
            </div>
            <div class="squares">
                <div id ="square">
                    <div id="eno">#영어</div>
                    <div id="eno">#초급</div>
                    <div id="owt">#초등학생</div>
                </div>
    
                <div id ="square">
                    <div id="owt">#중학생</div>
                    <div id="owt">#고등학생</div>
                    <div id="eert">#어린이 맞춤수업</div>
                </div>
            </div>
        </div>

        <div class="mydivRight">
        <div id="leftmini">
            <div>강의명</div>
            <div>수강인원</div>
            <div>강의 기한</div>
            <div>강의 날짜</div>
            <div>강의 비용</div>
        </div>

        <div id="rightmini">
            <div>SADSDA</div>
            <div>16명</div>
            <div>2023.8.02 ~ 2023.09.10 </div>
            <div>월, 금 1시 - 7시</div>
            <div>1시간 기준 10,000원</div>
        </div>
        </div>
    </section>
    <section id="sec3">
        <div id ="card"><img src="{% static 'image/credit-card.png' %}">결제내역
            <hr style="border: solid 0.2px #000; width: 90%; margin-left: 40px; margin-bottom: 50px;">
        </div>
        
        <div class="money">
            <button id="credit">결제내역</button>
            <button id="credit-day">결제일</button>
            <button id="credit-day">결제 방법</button>
            <button id="credit-day">결제 비용</button>
        </div>
    <table class="ttable">
        <tbody>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td>영어과외(anna)</td>
                <td>2022-09-15</td>
                <td>인터넷 뱅킹</td>
                <td>120,000</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

</body>


{% endblock %}