{% extends 'base.html' %}
{% block title %}마이페이지{% endblock %}
{% load static %}
{% block content %}
<head>
    <style>
        .icon-container {
            display: flex;
        }
        
        .icon {
            text-align: center; /* 내부 요소들 가운데 정렬 */
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<h1>마이페이지</h1>
<hr>
[ 유저 정보 정상 출력 테스트 ] <br>
닉네임 : {{ request.user.username }} <br>
이메일 : {{ request.user.email }} <br>
소개 : {{ request.user.introduction }} <br>
{% if request.user.profile_image %}
    프로필 이미지 : <img class="mypage-img" src="{{ request.user.profile_image.url }}" width="50" height="50"><br>
{% else %}
    이미지 안넣음<br>
{% endif %}

인증 여부 : {{ request.user.is_verified }} <br>
<hr>
[ 수정 테스트 ]
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {% if request.user.profile_image %}
        <label for="id_image">이미지</label>
        기존 : {{ request.user.profile_image }}
        <input type="file" name="image" accept="image/*" id="id_image">
        {% else %}
        기존 : 이미지 안넣음
        <input type="file" name="image" accept="image/*" id="id_image">
        {% endif %}
    </div>
    <div>
        <label for="id_introduction">소개</label>
        <textarea name="introduction" id="introduction" cols="30" rows="10">{{ request.user.introduction }}</textarea>
    </div>
    <div>
        <input type="submit">
    </div>
</form>
<br>
<hr>
[ 계정 활동 ] <br>

<div class="icon-container">
    <a href="{% url 'accounts:activities' %}?category=posts">
        <span class="icon">
            <br><img src="{% static 'image/post.png' %}" alt="내가 작성한 글"><br>작성글
        </span>
    </a>
    <a href="{% url 'accounts:activities' %}?category=comments">
        <span class="icon">
            <br><img src="{% static 'image/comment.png' %}" alt="내가 작성한 댓글"><br>댓글
        </span>
    </a>
    <a href="{% url 'accounts:activities' %}?category=likes">
        <span class="icon">
            <br><img src="{% static 'image/like.png' %}" alt="내가 좋아한 글"><br>좋아요
        </span>
    </a>
    <a href="{% url 'accounts:activities' %}?category=scraps">
        <span class="icon">
            <br><img src="{% static 'image/like.png' %}" alt="내가 좋아한 글"><br>스크랩
        </span>
    </a>
</div>

{% endblock %}