

.class{
    margin-top: 70px;
    margin-left: 690px;
    display: flex;
    flex-direction: row;
    color: #231910;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
}

#classteacher{
    margin-top: 20px;
    margin-left: 700px;
    display: flex;
    flex-direction: column;
    color: #4B2A0B;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
}



form {
   margin-top: 10px; 
    margin-left:0px;
    width: 350px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;;
}


  #details{
    margin-left: 1150px;
    margin-top: -420px;
    display: flex;
    flex-direction: column;
   
    width: 500px;
  }

  #name{
 display: flex;
 flex-direction: row;
  }


#name>div{
padding-top: 7px;
width: 120px;
height: 33px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1.1px;
border-radius: 7px;
background: #705134;
}

#name>input{
    margin-left: 20px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
}

#gender{
    display: flex;
    flex-direction: row;
}

#gender-box{
   
    padding-top: 7px;
    margin-top: 40px;
    width: 120px;
    height: 33px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;

}

#age{
    display: flex;
    flex-direction: row;
}

#age>div{
    margin-top: 40px;
    padding-top: 7px;
    margin-top: 40px;
    width: 120px;
    height: 33px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;

}

#age>input{
    height: 30px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
}


#educational{
    display: flex;
    flex-direction: row;

}

#educational>div{

    margin-top: 40px;
    padding-top: 7px;
    margin-top: 40px;
    width: 120px;
    height: 33px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;

}

#educational>select{
    width: 270px;
    height: 35px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
}


#classcost{
    margin-left: 700px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 30px;
}

#classcost>div{

    margin-top: 40px;
    padding-top: 7px;
    margin-top: 40px;
    width: 120px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;

}

#classcost>select{
    width:600px;
    height: 35px;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
}

.keydiv{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}

.keydiv>p{
    margin-top: 30px;
    margin-left: 10px;
    color: #9F8267;
    font-family: Inter;
    font-size:0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}

#sec3{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 300px;
    margin-left: 700px;
}

#item{
    display: flex;
    flex-direction: row;
}

#classbox{
    margin-top: 20px;
    padding-top: 7px;
    margin-top: 40px;
    width: 120px;
    height: 35px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}

#classboxs{
    margin-top: 20px;
    padding-top: 7px;
    width: 230px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}


.apply{
    margin-top: 500px;
    margin-bottom:109px;
    margin-left: 1080px;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid #251A0F;
    background: #4B2A0B;
    width: 130px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;

}

.radio-gender{
    margin-top: 50px;
    margin-left: 150px;
    width: 200px;
    height: 50px;
    
}

#radio-none{
    margin-top: 20px;
   margin-left: 300px;
}

.radio-class{
 
    width: 1700px;
    height: 70px;
    margin-top: 50px;
    margin-left: 15px;
}

.radio-class2{
  
    width: 1700px;
    height: 70px;
    margin-top: 50px;
    margin-left: 20px;
   
    
}

#special{
    display: flex;
    flex-direction: row;
    
}

#special>div{
    margin-top: 20px;
    padding-top: 2px;
    width: 120px;
    height: 35px;
    border-radius: 7px;
    border: 1.5px solid #4B2A0B;
    background: #FBFCF2;
    color: #4B2A0B;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
}




#special>input{
    margin-top: 20px;
    width: 700px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
}


#classteacher_time{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    color: #4B2A0B;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
}

.check{
    margin-right: 15px;
    padding-right: 10px;
}
.check:first-child {
    margin-left: 20px; 
}


#classpaynum{
    margin-left:700px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 30px;


}

#classpaynum>div{

    margin-top: 40px;
    padding-top: 7px;
    margin-top: 40px;
    width: 120px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;

}

#classpaynum>input{
    width:600px;
    height: 35px;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
}


.styled-select {
    padding: 10px;
    padding-right: 30px;
    font-size: 14px;
}
.radio-gender input[type="radio"] {
    margin-right: 10px; /* 선택지 사이의 간격 설정 */
}
.genderupdate{
    margin-left: 30px;
}
.class{
    margin-right:20px;
}

table{
    font-size: 0.9em;
    background-color: #F7F6EE;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 3px #4B2A0B;
}
th, td{
    border: 3px solid #4B2A0B;
    border-collapse: collapse;
}
th{
    height: 5px;
}
td {
    width: 100px;
    height: 60px;
}
.clicked-cell {
    background-color: #4B2A0B;
}

#center {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */

}