
#sec1 , #sec2, #sec3, .maindiv, .slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

}


.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.next {
  right: 0;
}


.maindiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 686px;
  background-image: url(/static/image/gradation.png);
  background-size: cover;
  position: relative;
  margin-top: 50px;
}


#maindiv1>p{
  color: #4B2A0B;
  font-family: Nanum Gothic;
  font-size: 4rem;
  font-style: normal;
  font-weight: 1000;
  line-height: 140%; 
  letter-spacing: -5px;
  padding-top: 70px;
  margin-top: 100px;
  margin-left: 200px;
  margin-bottom: 130px;
}
#maindiv1>div{
  color: rgba(75, 42, 11, 0.80);
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  margin-left: 200px;
  padding-top: 10px;
}


#maindiv2>img{
  width: 700px;
  height: 550px;
  margin-left: 680px;
  margin-top: -443px;
}

.servicediv{
  display: flex;
  flex-direction: row;
  margin-left: -100px;
}

.servicediv>img{
 margin-top: 100px;
 margin-left: 100px;
 width: 300px;
 height: 396px;
}

#togetherservice{
 margin-left: 350px;
 margin-top: 80px;
 display: flex;
 flex-direction: column;
 width: 1500px; 
 height:400px;
 background-image: url("/static/image/CircleMain.png"), url("/static/image/RectMain.png") ;
 background-size: 500px 500px, 1200px 600px;
 background-position: left, right; 
 background-repeat: no-repeat;
}

#together{
 color: #4B2A0B;
 font-family: Inter;
 font-size: 3.2rem;
 font-style: bold;
 font-weight: 1000;
 line-height: 75px; 
 letter-spacing: -3.25px;
 margin-top: 50px;
 margin-left: 150px;

}

#service{
 margin-top: -20px;
 margin-left: 150px;
 color: #000;
 font-family: Inter;
 font-size: 3.2rem;
 font-style: normal;
 font-weight: 800;
 line-height: 75px;
 letter-spacing: -3.25px;
}

#explain{
color: #4B2A0B;
font-family: Inter;
font-size: 1.3rem;
font-style: normal;
font-weight: 1000;
line-height: normal;
letter-spacing: -0.39px;
margin-top: 20px;
margin-left: 150px;
}

#box{
 display: flex;
 flex-direction: row;
 margin-left: 500px;
 margin-top: -120px;
}
#give{

 margin-left: 170px;
 margin-top: -140px;
 margin-right: 15px;
 background-image: url("/static/image/container3.png");
 background-size:cover;
 background-repeat: no-repeat;
 width: 230px;
 height: 300px;
 border-radius: 20px;
 
}

#give>p{
margin-top: 210px;
margin-left: -100px;
color: #FFF;
text-align: center;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.40);
font-family: Inter;
font-size: 1.3rem;
font-style: normal;
font-weight: 1000;
line-height: normal;
letter-spacing: -0.75px;
}

#givetext{

 margin-left: 20px;
 color: #FFF;
 text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.40);
 text-align: start;
 font-family: Inter;
 font-size: 0.9rem;
 font-style: normal;
 font-weight: 1000;
 line-height: normal;
 letter-spacing: -0.45px;

}


#local{

  margin-right: 15px;
  margin-top: -140px;
  background-image: url("/static/image/container1.png");
  background-size:cover;
  background-repeat: no-repeat;
  width: 230px;
  height: 300px;
  border-radius: 20px;

}


#local>p{
  margin-top: 210px;
  margin-left: -100px;
  color: #FFF;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.40);
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  letter-spacing: -0.75px;
  }
  
  #localtext{
    margin-left: 20px;
    color: #FFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.40);
    text-align: start;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: -0.45px;
  
  }
#communication{
 

  margin-top: -140px;
  background-image: url("/static/image/게시판\ 사진.png");
  background-size:cover;
  background-repeat: no-repeat;
  width: 230px;
  height: 300px;
  border-radius: 20px;

}

#communication>p{
  margin-top: 210px;
  margin-left: -100px;
  color: #FFF;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.40);
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  letter-spacing: -0.75px;
  }
  
  #communytext{
    margin-left: 20px;
    color: #FFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.40);
    text-align: start;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: -0.45px;
  }

#title1{
 color: #321D09;
 font-family: Inter;
 font-size: 2rem;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: -3px;
 margin-top: 100px;
 margin-left: 200px;
}



#slideshow-container{
 background-color: aquamarine;
 margin-top: 30px;
 background: #EAEAEA;
 box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25) inset;
 width: 1260px;
 height: 287px;
}



#teach{

 margin-top: 130px;
 margin-left: -600px;
 color: #321D09;
 font-family: Inter;
 font-size: 2.9rem;
 font-style: normal;
 font-weight: 1000;
 line-height: normal;
 letter-spacing: -3px;

}


#recommend{
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: -740px;
  color: #321D09;
  font-family: Inter;
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  letter-spacing: -3px;
 }




.slider{

 display: flex;
 flex-direction: row;
 background: #EAEAEA;
 width: 100%;
 height: 287px;
 box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25) inset;
}
.slider-btn-wrapper-left {
  display: flex;
  margin-left: 200px;
  margin-bottom:17px;
}
.slider-btn-wrapper-right  {
  margin-top:40px;
  display: flex;
}
.slider-btn {
  border: none;
  background-color: transparent;
}

.item-wrapper{
 display: flex;
 flex-direction: row;
 align-items: center;
 overflow: hidden;
 width:1500px;
 justify-content: center;
margin-left: 140px;

}

.item-wrapper>.item{
  margin-left: 20px;
  border-radius: 20px;
  background: #412D1A;
  width: 280px;
  height: 130px;
 }

 .item-wrapper>.item>h2{
  width: 260px;
  height: 110px;
   color: #FFF;
   font-family: Inter;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 600;
   line-height: 30px; 
   letter-spacing: -0.9px;
   text-align: center;
   padding-top:20px;
   padding-left:15px;
 }


 .item-wrapper>.item>h3{
  margin-top: -70px;
   margin-left: 140px;
   color:#FFF;
   width: 150px;
   height: 70px;
   font-family: Inter;
   font-size: 0.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 30px; 
   letter-spacing: -0.24px;
   padding-top: 45px;
   padding-left:10px;
     }



#right-btn>img{
  transform: rotate(180deg);
  width: 40px;
  
}

#left-btn>img{
  
  width: 40px;
}




#localdiv{
 display: flex;
 flex-direction: row;
 width: 1300px;
 height: 500px;
}


#localdiv1{
 display: flex;
 flex-direction: column;
 background-image: url("/static/image/tram.png");
 background-size: contain;
 background-repeat: no-repeat;
 width: 600px;
 height: 450px;
 margin-top: 70px;
 margin-left: 190px;
}

#text1{
 opacity: 0.7;
 background: #2C1C0C;
 border-radius: 10px;
 width: 300px;
 height: 390px;
}

#text1>h1{
margin: 30px;
 color: #FFF;
 font-family: Inter;
 font-size: 13px;
 font-style: normal;
 font-weight: 1000;
 line-height: normal;
 letter-spacing: -0.65px;
}

#text1>h2{
 margin-top: 100px;
 margin-left: 20px;
 color: #FFF;
 font-family: Inter;
 font-size: 1.8rem;
 font-style: normal;
 font-weight: 1000;
 line-height: normal;
 letter-spacing: -1.5px;
}

#text1>h3{
  margin-top: -5px;
 margin-left: 20px;
 color: #FFF;
 font-family: Inter;
 font-size: 1.7rem;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
 letter-spacing: -1.5px;
}

#text1>h4{
 margin-top: 10px;
 margin-left: 20px;
 color: #FFF;
 font-family: Inter;
 font-size: 1.0rem;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
 letter-spacing: -0.4px;
}



#localdiv2{
 display: flex;
 flex-direction: column;
 background-image: url("/static/image/metro.png");
 background-size: contain;
 background-repeat: no-repeat;
 width: 450px;
 height: 450px;
 margin-top: 70px;
 margin-left: 50px;
 margin-bottom: 80px;
}



#text2{
 opacity: 0.7;
 background: #2C1C0C;
 border-radius: 10px;
 width: 450px;
 height: 380px;
}


#text2>h1{
 margin-top: 80px;
 color: #FFF;
 text-align: center;
 font-family: Inter;
 font-size: 1.8rem;
 font-style: normal;
 font-weight: 1000;
 line-height: normal;
 letter-spacing: -1.75px;

}

#text2>h2{
margin: 20px;
 color: #FFF;
 text-align: center;
 font-family: Inter;
 font-size: 1.1rem;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
 letter-spacing: -0.2px;
 }

 #text2>h3{
 margin-top: 15px;
 color: #FFF;
 text-align: center;
 font-family: Inter;
 font-size: 14px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 letter-spacing: -0.5px;
   }



#rectangle{
  display: flex;
  flex-direction: column;
  margin-left:200px;
  margin-bottom: 150px;
}
#mainbtn{
  margin-top: 20px;
  margin-left: -40px;
  width: 1100px;
  height: 110px;
  border-radius: 80px;
 background: #6C4A2B;
 border: none;
 padding-left:100px;
}

#mainbtn>p{
margin-top: 0px;
margin-right: 70px;
color: #FFF;
font-family: Inter;
font-size: 1.7rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.05px;
text-align: left;
width:900px;
}