.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px;
}
.login-title-line {
    width: 365px;
    height: 3px;
    background: #4B2A0B;
    margin-top: 18px;
    margin-bottom: 30px;
}
.login {
    width: 1107px;
    height: 1100px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 5px solid #FFF;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 20px 0px 30px 0px rgba(129, 86, 86, 0.20), -20px 4px 30px 0px rgba(129, 86, 86, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 277px;
    position: relative;
}
.login__title {
    color: #4B2A0B;
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.6px;
    margin-bottom: 29px;
}
.login__img {
    width: 298px;
    height: 298px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    background: #FFF;
    /* box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.25) inset; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 66px;
}
.login__img img {
    width: 90%;
    height: auto;
    flex-shrink: 0;
}
.login__form-column {
    display: flex;
    width: 554px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #8C8C8C;
    background: #FFF;
    /* box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.20); */
}
.login__form-column--margin18 {
    margin-bottom: 18px;
}

/* 로그인 */
.login__form {
    display: flex;
}
.login__form label {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 400px;
}
.login__form-username,
.login__form-pw {
    /* width: 403px; */
    display: flex;
    align-items: center;
    outline: none;
    border: none;
}

.login__form-username::placeholder,
.login__form-pw::placeholder {
    color: #4B2A0B;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login__auto {
    position: absolute;
    bottom: 460px;
    left: 298px;
}
.login__auto input[type="checkbox"] {
    display: none;
}
.login__auto input[type="checkbox"] + span {
    cursor: pointer;
    background-image: url("../../image/check-circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px;
    color: #4B2A0B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
}
.login__auto input[type="checkbox"] + span, 
.login__search a {
    color: #4B2A0B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
}
.login__search {
    position: absolute;
    bottom: 400px;
    right: 302px;
}
.login__search a {
    text-decoration: none;
}
.login-btn,
.signup-btn {
    width: 388px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #4B2A0B;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
}
.login-btn {
    /* margin-top: 102px; */
    margin-bottom: 15px;
}

.login__form-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 200px;
}