footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 15px 0;
    background-color: #4B2A0B;;
}
footer > div {
    margin-bottom: 2vh;
}
footer img{
    width: 35px; 
}