header{
    display: flex;
    flex-direction: column;
    width: 100%
}
header > div > div{
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: 0 auto;

}
header > div > div > div{
    padding: 0 10px 0 10px;
    color: #1D0C0C;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -3px;
    margin-bottom: 30px;
    }


.header-img{
    width: 50px;
}

#head{
    background-color: white;
    padding: 10px 0 10px 0;
    font-size: 1.2rem;
}
#head > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
  
}
#head #divRight{
    display: flex;
    flex-direction: row;
}
#head #divRight > div{
    padding: 0 10px 0 10px;
    color: #4B2A0B;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.45px;
}

#nav{
    margin: auto;
    width: 100%;
    height: 3px;
    background: #4B2A0B;
}
#nav > div{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#nav>div>div{
    margin-top: 10px;
    color: rgba(75, 42, 11, 0.80);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}




