{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
    <script src="{% static 'js/includeHTML.js' %}"></script>
    <title>{%block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div id="head">
            <div>
                <div onClick="location.href='{% url 'diamoyeo:home' %}'" style="cursor: pointer;"><img class="header-img" src="{% static 'image/로고.png' %}">다모여</div>
                <div id="divRight">
                    {% if request.user.is_authenticated %}
                        <div onClick="location.href='{% url 'accounts:mypage' %}'" style="cursor: pointer;"><img src="/static/image/basic.png">{{ request.user.username }}님ㅣ마이페이지</div>
                        <div class="div-div" onClick="location.href='{% url 'accounts:logout' %}'" style="cursor: pointer;">로그아웃</div>
                    {% else %}
                        <div onClick="location.href='{% url 'accounts:login' %}'" style="cursor: pointer;">로그인</div>|
                        <div onClick="location.href='{% url 'accounts:signup' %}'" style="cursor: pointer;">회원가입</div>
                    {% endif %}
                </div>
            </div>
        </div>    
        <div id="nav">
            <div>
                <div onClick="location.href='{% url 'diamoyeo:home' %}'" style="cursor: pointer;">메인</div>
                <div onClick="location.href='{% url 'jobs:jobs_main' %}'" style="cursor: pointer;">과외</div>
                <div onClick="location.href='{% url 'informations:information' %}?tab=region&align_mode=recently&page=1'" style="cursor: pointer;">지역정보</div>
                <div onClick="location.href='{% url 'posts:post-list-all' %}?page=1'" style="cursor: pointer;">게시판</div>
            </div>
        </div>
    </header>
    
    {% block content %}

    {% endblock %}

    <footer>
        <div style="font-size: 1rem; font-family: Inter; color: #FFF; font-weight: 600;"><img src="/static/image/하단 로고.png">DIAMO.YEA</div>
        <div style="font-size: 0.7rem; font-family: Inter;color: #FFF;">대표 : 멋쟁이 사자처럼 한성지부  Email : noname****</div>
        <div style="font-size: 0.7rem; font-family: Inter;color: #FFF;">대표번호: 02-760-4219  주소:서울특별시 성북구 삼선교로 16길 116</div>
    </footer>
</body>
</html>