{% extends 'base.html' %}
{% block title %}과외서비스{% endblock %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/screens/search.css' %}">
    </head>
    


  <div id="header"></div>
  <script src="{%  static 'js/header.js' %}"></script>

  <section id="sec1">
    <div>
      <div id="serviceMain">온라인 
        <br>과외서비스</div> 
      <div id="service">영어, 중국어, 일본어부터 태국어, 베트남어 아랍어까지!<br>
        ‘다모여’는 다문화 가정의 경제적 활동을 지원합니다.<br>
        온라인 과외를 통해 다양한 언어를 배울 수 있는 기회를 제공합니다.
        </div>
    </div>
  </section>


  <sect id="sec2">
   <div id="box">
     <div id="box1">다양한 언어,</div>
     <div id="box2">관심 있으신가요?</div>
   </div>
    
    <div class="container">
        <div class ="imgBox"><img src="/static/image/Groupstar.png"></div>
        <div class="pictureBox">
            <h2>원어민에게 배운다고?</h2>
            <p>다모여에서는<br>
              원어민 다문화 가족 구성원에게<br>
              수업을 들을 수 있습니다.<br>
              <br><br>
              문법 중심의 암기 수업에서 벗어난,<br>
              '진짜'언어 수업을 만나보세요.</p>
              <br>
          </div>
        </div>

    <div class="container2">
      
      <div class="picture_Box">
          <h2>언제, 그리고 어디서나 </h2>
          <p>등교하기전 1시간<br>
            회사 점심시간 1시간<br>
            집가는 길에 전화 20분<br>
            퇴근 후 집에서 2시간<br>
            .<br>.<br>
            당신이 원하는 순간에, 어디서나<br>
          외국어 회화 공부를 할 수 있습니다.</p>
            <br>
          <P>여기, 다모여에서!</P>
        </div>

        <div class ="imgBox2"><img src="/static/image/Groupstar.png"></div>
      </div>

   

     <div id="box">
      <div id="box3">더 많은</div>
      <div id="box4">원어민 선생님을 </div>
      <div id="box5">만나보세요!</div>
      </div>
    
     
     
  <div class="containerBox"> 
    {% for teacher in teacher_list %}
        {% if forloop.counter == 1 %}
        <div id="cb1"><h1>{{teacher.name}}</h1>
          <p>{{teacher.language}}</p>
        </div>
        {% endif %}
        {% if forloop.counter == 2 %}
        <div id="cb2"><h1>{{teacher.name}}</h1>
          <p>{{teacher.language}}</p>
        </div>
        {% endif %}
        {% if forloop.counter == 3 %}
        <div id="cb3"><h1>{{teacher.name}}</h1>
          <p>{{teacher.language}}</p>
        </div>
        {% endif %}
        {% if forloop.counter == 4 %}
        <div id="cb4"><h1>{{teacher.name}}</h1>
          <p>{{teacher.language}}</p>
        </div>
        {% endif %}
        {% if forloop.counter == 5 %}
        <div id="cb5"><h1>{{teacher.name}}</h1>
          <p>{{teacher.language}}</p>
        </div>
        {% endif %}
        {% if forloop.counter == 6 %}
        <div id="cb6"><h1>{{teacher.name}}</h1>
          <p>{{teacher.language}}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <button onclick="location.href='{% url 'jobs:teacher' %}'" id="btn">선생님 만나러가기 <img class="polygon"src="{% static 'image/Polygon 7.png'%}"></button>
    
  </section>
  
  <div class="girlcontainer">
    
    <div id="girl">

        <h2>선생님이 되어주세요!</h2>
        <p>주부도, 직장인도, 여자도, 남자도 누구나 선생님이 될 수 있습니다.<br>
        영상통화로 수업을 진행할 수 있어요.</p>
        <button class="girl-btn" onclick="location.href='{% url 'jobs:jobs_create' %}'">수업 등록하러가기</button>
    </div>
</div>


    
</section>




{% endblock %}