{% extends 'base.html' %}
{% block title %}수업등록하기{% endblock %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static '/css/screens/classregistration.css' %}">
        <title>수업등록하기</title>
    </head>

    <script src="{% static 'js/header.js'%}"></script>
    <br><br>
<div id="center">
    <section id ="sec1">
            <div class="class">수업등록하기</div>
            <div id ="classteacher">강사 정보 입력 
                <form id ="my-form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type='file' name='image'/>
            </div>

            <div id ="details">
                <div id ="name">
                    <div>이름</div>
                    <input type="text"  name="named" placeholder="  이름을 입력하세요" size="35" maxlength="20">
                </div>
            
            <div id="gender">
                <div id="gender-box">성별</div>
                <div class="radio-gender">
                    <input type="radio" name="gender" class="genderupdate" value="남" style="vertical-align:">남
                    <input type="radio" name="gender" class="genderupdate" value="여" checked="checked">여
                </div>
            </div>

            <div id ="age">
                <div>나이</div>
                <input type="text" placeholder="  나이을 입력하세요" name="age" size="35" maxlength="6">
            </div>
            <div id ="age">
                <div>국적</div>
                <input type="text" placeholder="  국적을 입력하세요" name="nationality" size="35" maxlength="6">
            </div>
            <div id ="age">
                <div>수업언어</div>
                <input type="text" placeholder="  수업 가능한 언어를 입력하세요" name="language" size="35" maxlength="6">
            </div>

                <div id="educational">
                    <div>학력</div>
                    <select name="education">
                        <option value="없음"> 해당사항없음 </option>
                        <option value="초등학교"> 초등학교</option>
                        <option value="중학교"> 중학교</option>
                        <option value="고등학교"> 고등학교</option>
                        <option value="대학교"> 대학교</option>
                    </select>
                </div>
            </div>
    </div>
</section>
    <div id = "center">
        <hr style="border: solid 1px #000; width: 960px; margin-top: 90px; margin-left: 650px;">
    </div>
    <section id ="sec2">
        <div id = "center_title">
            <div id="classteacher">수업 비용</div>
        </div>
        <div id = "center_cost">
            <div id="classcost">
                <div>수업 비용</div>
                <select name="cost">
                    <option value="" disabled selected hidden>*1시간 당 비용을 선택해주세요.</option>
                    <option value="10000">  1시간/10000 </option>
                    <option value="20000">  1시간/20000</option>
                    <option value="30000">  1시간/30000</option>
                    <option value="40000">  1시간/40000</option>
                    <option value="50000">  1시간/50000</option>
                </select>
            </div>
        </div>
    <div id = "center_cost">
        <div id="classpaynum">
            <div>계좌번호</div>
            <input type="specai-text" placeholder="  *강의비를 입금받을 계좌번호을 입력하세요" name="pay" size="70" maxlength="6">
        </div>
    </div>
    </section>
    <div id="center">
        <hr style="border: solid 1px #000; width: 960px; margin-top: 90px; margin-left: 650px;">
    </div>
    <div id="center_key">
        <div class="keydiv">
            <div id ="classteacher">수업 키워드</div>
            <p>중복 선택 가능</p>
        </div>
    </div>
    <div id="center">
        <section id="sec3">
            <div id ="classkeyword"> 
                <div id ="item">
                    <div id ="classbox">수업 대상</div> 
                        <div class="radio-class">

                                <input type="checkbox" name="student" value="초등학생" class="check">
                                <label class="stu">초등학생</label> 


                                <input type="checkbox" name="student" value="중학생" class="check">
                                <label class="stu">중학생</label>


                                <input type="checkbox" name="student" value="고등학생" class="check">
                                <label class="stu">고등학생</label> 

                                <input type="checkbox" name="student" value="대학생" class="check">
                                <label class="stu">대학생</label> 
    
                                <input type="checkbox" name="student" value="직장인" class="check">
                                <label class="stu">직장인</label> 

                                <input type="checkbox" name="student" value="기타" class="check">
                                <label class="stu">기타</label> 

                        </div>
                    </div>
                </div>

                <div id ="item">
                    <div id ="classbox">수업 분류</div>
                        <div class="radio-class">
                            <input type="checkbox" name="class" value="회화" class="check">회화 
                            <input type="checkbox" name="class" value="비지니스" class="check">비지니스
                            <input type="checkbox" name="class" value="유학" class="check">유학 준비
                            <input type="checkbox" name="class" value="자격증" class="check">자격증 준비
                            <input type="checkbox" name="class" value="초급자" class="check">초급자 대상
                            <input type="checkbox" name="class" value="중급자" class="check">중급자 대상
                            <input type="checkbox" name="class" value="고급자" class="check">고급자 대상
                        </div>
                </div>
                <div id ="item">
                    <div id="classbox">강사 정보</div>
                    <div>
                        <div class="radio-class2">
                            <input type="checkbox" name="teacher" value="신입" class="check">신입 
                            <input type="checkbox" name="teacher" value="1년 이상" class="check">1년 이상 
                            <input type="checkbox" name="teacher" value="3년 이상" class="check">3년 이상 
                            <input type="checkbox" name="teacher" value="5년 이상" class="check">5년 이상 
                            <input type="checkbox" name="teacher" value="7년 이상" class="check">7년 이상 
                            <input type="checkbox" name="teacher" value="10년 이상" class="check">10년 이상 
                        </div>
                    </div>
                </div>
            
                <div id ="special">
                    <div>특이사항</div>
                    <input type="specai-text"name="feature"  placeholder="  *특이사항을 입력해주세요.">
                </div>
            </div>
        </section>
    </div>





    <div id="center">
            <hr style="border: solid 1px #000; width: 960px; margin-top: 180px; margin-left: 650px;">
    </div>
    
    <div id="center_table">
        <section id="sec3">
        <div id ="classteacher_time">수업이 가능한 시간을 선택해 주세요.</div>
            <table id="schedule-table">
                <tr>
                    <th> </th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                    <th>일</th>
                </tr>
                <tr>
                    <th>9</th>
                    <td class="월9"></td>
                    <td class="화9"> </td>
                    <td class="수9"></td>
                    <td class="목9"></td>
                    <td class="금9"></td>
                    <td class="토9"></td>
                    <td class="일9"></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td class="월10"></td>
                    <td class="화10"> </td>
                    <td class="수10"></td>
                    <td class="목10"></td>
                    <td class="금10"></td>
                    <td class="토10"></td>
                    <td class="일10"></td>
                </tr>
                <tr>
                    <th>11</th>
                    <td class="월11"></td>
                    <td class="화11"> </td>
                    <td class="수11"></td>
                    <td class="목11"></td>
                    <td class="금11"></td>
                    <td class="토11"></td>
                    <td class="일11"></td>
                </tr>
                <tr>
                    <th>12</th>
                    <td class="월12"></td>
                    <td class="화12"> </td>
                    <td class="수12"></td>
                    <td class="목12"></td>
                    <td class="금12"></td>
                    <td class="토12"></td>
                    <td class="일12"></td>
                </tr>
                <tr>
                    <th>13</th>
                    <td class="월13"></td>
                    <td class="화13"> </td>
                    <td class="수13"></td>
                    <td class="목13"></td>
                    <td class="금13"></td>
                    <td class="토13"></td>
                    <td class="일13"></td>
                </tr>
                <tr>
                    <th>14</th>
                    <td class="월14"></td>
                    <td class="화14"> </td>
                    <td class="수14"></td>
                    <td class="목14"></td>
                    <td class="금14"></td>
                    <td class="토14"></td>
                    <td class="일14"></td>
                </tr>
                <tr>
                    <th>15</th>
                    <td class="월15"></td>
                    <td class="화15"> </td>
                    <td class="수15"></td>
                    <td class="목15"></td>
                    <td class="금15"></td>
                    <td class="토15"></td>
                    <td class="일15"></td>
                </tr>
                <tr>
                    <th>16</th>
                    <td class="월16"></td>
                    <td class="화16"> </td>
                    <td class="수16"></td>
                    <td class="목16"></td>
                    <td class="금16"></td>
                    <td class="토16"></td>
                    <td class="일16"></td>
                </tr>
            </table>
        </div>
            <input type="hidden" id="selected-cell" name="selected_cells" value="">
        </section>
    </div>

    <div id="center_submit">
    <button type="submit" class="apply">등록하기</button>
    </div>
</form>
<div id="footer"></div>







    <script src="{% static 'js/footer.js'%}"></script>
    {% comment %} 테이블 색상 변경 & 데이터 넘기는 스크립트 {% endcomment %}
    <script>
        const cells = document.querySelectorAll('#schedule-table td');
        const selectedCellInput = document.getElementById('selected-cell');
        const myForm = document.getElementById('my-form');
        cells.forEach(cell => {
            cell.addEventListener('click', () => {
                cell.classList.toggle('clicked-cell');
            });
        });
    
        myForm.addEventListener('submit', () => {
            const selectedCells = Array.from(cells).filter(cell => cell.classList.contains('clicked-cell'));
            //const selectedValues = selectedCells.map(cell => cell.className); 
            const selectedValues = selectedCells.map(cell => cell.className.replace('clicked-cell', '').trim());
            selectedCellInput.value = JSON.stringify(selectedValues);
        });
    </script>

{% endblock %}