{% extends 'base.html' %}
{% block title %}수업신청서{% endblock %}
{% load static %}
{% block content %}
    <main class="registration-main">
        <div class="registration-container">
            <h1 class="registration-title">수업 신청서</h1>
            <div class="registration-content">
                <div class="registration-content__li registration-content__li--margin-right">• 수업 날짜 선택</div>
                <div class="requirement-mark">* 필수 표기 항목</div>
                <div class="choice-time"></div>

            </div>
            <div class="registration-content-border"></div>
            <div class="registration-content">
                <div class="registration-content__li">• 학생 정보 입력</div>
                <div class="personal-info">
                    <label for="personal-img" class="personal-info__img">
                        <div class="personal-info__img-txt">
                            <img src="../../static/image/image.svg">
                            <span>사진을 등록해주세요</span>
                        </div> 
                        <form>
                            <input class="hidden" type="file" id="personal-img">
                        </form>
                    </label>
                    <div class="personal-info__detail">
                        <div class="personal-info__detail-name">
                            <span class="requirement-mark">*</span>
                            <div class="personal-info__detail-list">이름</div>
                            <form class="personal-info__detail-form">
                                <input type="text" class="personal-info__detail-input" placeholder="이름을 입력해주세요." required>
                            </form>
                        </div>
                        <div class="personal-info__detail-age">
                            <span class="requirement-mark">*</span>
                            <div class="personal-info__detail-list">나이</div>
                            <form class="personal-info__detail-form">
                                <input type="text" class="personal-info__detail-input" placeholder="나이를 입력해주세요." required>
                            </form>
                        </div>
                        <div class="personal-info__detail-tel">
                            <span class="requirement-mark">*</span>
                            <div class="personal-info__detail-list">전화번호</div>
                            <form class="personal-info__detail-form">
                                <input type="tel" class="personal-info__detail-input" placeholder="전화번호를 입력해주세요." required>
                            </form>
                        </div>
                        <div class="personal-info__detail-email">
                            <span class="requirement-mark">*</span>
                            <div class="personal-info__detail-list">이메일</div>
                            <form class="personal-info__detail-form">
                                <input type="email" class="personal-info__detail-input" placeholder="이메일을 입력해주세요." required>
                            </form>
                        </div>            
                    </div>
                </div>
            </div>
            <div class="registration-content-border"></div>
            <div class="registration-content">
                <div class="registration-content__li">
                    • 결제방법
                    <span>원하시는 결제수단을 선택해주세요.</span>
                </div>
                <div class="payment">
                    <div class="payment-container">
                        <div class="payment__payment-method">
                            <div class="payment-method-block">신용카드</div>
                            <div class="payment-method-block">가상계좌</div>
                            <div class="payment-method-block">계좌이체</div>
                            <div class="payment-method-block">신용카드</div>
                            <div class="payment-method-block">신용카드</div>
                            <div class="payment-method-block">신용카드</div>
                            <div class="payment-method-block">신용카드</div>
                            <div class="payment-method-block">신용카드</div>
                        </div>
                        <div class="payment-container__border"></div>
                        <div class="registration-content__li">• 결제 정보</div>
                        <div class="payment__card-info-1"><span></span></div>
                        <div class="payment__card-info-2">
                            <div class="">
                                <div class="">결제 방법</div>
                                <select>
                                    <option>신용카드 결제</option>
                                </select>
                            </div>
                            <div>결제 비용</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="payment__btn"><button id="payment-button">신청하기</button></div>

        </div>

    </main>

    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <script>
        const clientKey = 'test_ck_26DlbXAaV0oEjpP6lNd3qY50Q9RB'
        const secretKey = 'test_sk_6BYq7GWPVv5YA7wNbBa3NE5vbo1d'
        const customerKey = 'YbX2HuSlsC9uVJW6NMRMj' // 결제 고객을 특정하는 키
        const amount = 15_000 // 결제 금액
      
        /*결제위젯 영역 렌더링*/
        const paymentWidget = PaymentWidget(
            "test_ck_26DlbXAaV0oEjpP6lNd3qY50Q9RB",
            PaymentWidget.ANONYMOUS
        ) // 회원 결제 초기화
        // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제 초기화
        paymentWidget.renderPaymentMethods('#payment-method', amount);
        


        /*결제요청 함수 정의*/
        document.querySelector("#payment-button").addEventListener("click",()=>{
		    paymentWidget.requestPayment({
		    	orderId: 'AD8aZDpbzXs4EQa-UkIX6',
		    	orderName: '토스 티셔츠 외 2건',
		    	successUrl: 'http://localhost:8080/success',
		    	failUrl: 'http://localhost:8080/fail',
		    	customerEmail: 'customer123@gmail.com', 
		    	customerName: '김토스'
		    }).catch(function (error) {
		    	if (error.code === 'USER_CANCEL') {
		    	// 결제 고객이 결제창을 닫았을 때 에러 처리
		    	} if (error.code === 'INVALID_CARD_COMPANY') {
	            // 유효하지 않은 카드 코드에 대한 에러 처리
	          }
	      })  
	  })      
      </script>
{% endblock %}