{% extends 'base.html' %}
{% block title %}수업신청서{% endblock %}
{% load static %}
{% block content %}
    <h3>수업신청서</h3>
    <div>선택한 선생님 정보 : {{teacher.id}}번, {{teacher.name}} </div>
    <div>{{teacher.times}}</div>
    <hr>
    <form id ="my-form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3> * 수업 날짜 선택 (1시간당 비용 {{teacher.cost}})</h3>
        <h3> 최종 비용 <div id="total-cost"></div> </h3>
        선생님이 수업이 가능한 시간:
        {% for time in time_lists%} 
            {{ time }}
        {% endfor %}
            
        <h2> 원하는 수업 시간을 선택해주세요 </h2>
        <table id="schedule-table">
            <tr>
                <th> </th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
                <th>일</th>
            </tr>
            {% comment %}test용 - 요일&시간대까지 출력 {% endcomment %}
            {% for i in "x"|rjust:"8" %}
                {% with date_number=forloop.counter|add:"8" %}
                            {% if date_number == 9 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list9 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>
                            {% elif date_number == 10 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list10 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>

                            {% elif date_number == 11 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list11 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>
                            {% elif date_number == 12 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list12 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>
                            {% elif date_number == 13 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list13 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>
                            {% elif date_number == 14 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list14 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>
                            {% elif date_number == 15 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list15 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>
                            {% elif date_number == 16 %}
                                <tr>
                                <th>{{ date_number }}</th>
                                    {% for time in date_list16 %}
                                        <td class="{% if time in time_lists %}{{ time }}{% else %} none {% endif %}">{{ time }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                {% endwith %}
            {% endfor %}
        </table>

        <input type="hidden" id="selected-cell" name="selected_cells" value="">
        <hr>
        <h3>* 학생 정보 입력 </h3>
        <div> 사진을 등록해주세요 
            <input type="file" name="image">
        </div>
        <div> 이름 : <input type="text" name="name" placeholder="이름을 입력하세요"></div>
        <div> 나이 : <input type="text" name="age" placeholder="나이을 입력하세요"></div>
        <div> 전화번호 : <input type="text" name="phone" placeholder="전화번호를 입력하세요"></div>
        <div> 이메일 : <input type="text" name="email" placeholder="이메일을 입력하세요"></div>
        <hr>
        <h3>* 결제 방법 </h3>
        <div>결제 방법
            <select name="pay">
                <option value="가상계좌"> 가상계좌 </option>
                <option value="계좌이체"> 계좌이체</option>
                <option value="휴대폰결제"> 휴대폰결제</option>
                <option value="토스"> 토스</option>
                <option value="카카오페이"> 카카오페이</option>
                <option value="네이버페이"> 네이버페이</option>
            </select>
        </div>
        <hr>
        <button type="submit">신청하기</button>
    </form>
    <style>
        table{
            font-size: 0.9em;
            background-color: #F7F6EE;
            border-collapse: collapse;
            border-radius: 10px;
            border-style: hidden;
            box-shadow: 0 0 0 3px #4B2A0B;
        }
        th, td{
            border: 3px solid #4B2A0B;
            border-collapse: collapse;
        }
        th{
            height: 5px;
        }
        td {
            width: 100px;
            height: 60px;
        }
        .clicked-cell {
            background-color: #FFE500;
        }
        .none {
            background-color : #979797; 
        }
        
    </style>
    <script>
        const cells = document.querySelectorAll('#schedule-table td:not(.none)');
        const selectedCellInput = document.getElementById('selected-cell');
        const totalCostElement = document.getElementById('total-cost');
    
        cells.forEach(cell => {
            cell.addEventListener('click', () => {
                cell.classList.toggle('clicked-cell');
                updateTotalCost(); 
            });
        });
    
        const myForm = document.getElementById('my-form');
        myForm.addEventListener('submit', () => {
            const selectedCells = Array.from(cells).filter(cell => cell.classList.contains('clicked-cell'));
            const selectedValues = selectedCells.map(cell => cell.className.replace('clicked-cell', '').trim());
            selectedCellInput.value = JSON.stringify(selectedValues);
        });
    
        function updateTotalCost() {
            const selectedCells = Array.from(cells).filter(cell => cell.classList.contains('clicked-cell'));
            const totalCost = selectedCells.length * {{ teacher.cost }};
            totalCostElement.textContent = `총 비용: ${totalCost}원`;
        }
    </script>

{% endblock %}